{% extends "network/layout.html" %}

{% block body %}
    <div id="title-holder">
        <h2 class="register-title">Register</h2>
    </div>
    

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'network:register' %}" method="post">
        {% csrf_token %}
        <div class="form-g">
            <input class="form-control" autofocus type="text" name="username" placeholder="Username">
        </div>
        <div class="form-g">
            <input class="form-control" type="email" name="email" placeholder="Email Address">
        </div>
        <div class="form-g">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <div class="form-g">
            <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
        </div>
        <input id="reg-button" class="btn btn-primary" type="submit" value="Register">
    </form>

    <p class="reg-text">Already have an account? <a href="{% url 'network:login' %}">Log In here.</a></p>  

{% endblock %}